.Red{
    background-color: red;
    padding: 3%;
}

.Yellow{
    background-color: #e6e600;
    padding: 3%;
}

.Orange{
    background-color: orange;
    padding: 3%;
}

.Green{
    background-color: green;
    padding: 3%;
}

.white{
    background-color: whitesmoke;
}